.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  /* background-color: #e2d6d6; */
  font-family: 'Comic Sans MS';
  text-align: center;
  background-image: url("/images/ramen_back.png");
}

.field-area{
  /* background-color:#e2d6d6; */
  height: 100vh;
  padding-top: 10%;
  /* background-color:rgba(255,255,255,0.8); */
  /* background-blend-mode:lighten; */
  width: 100vw;
  background-size: contain;
}

.field-flame{
  padding: 1em;
  width: 90%;
  color: #666666; /*文字色*/
  border: 5px solid #996633; /*線の太さ・色*/
  box-shadow: -2px 5px 5px #e8d3c7; /*影*/
  border-radius: 20px; 
  width: 50vw;
  margin-left: 25%;
  /* margin-top: 25%; */
  opacity: 0.9;
}

.sign-up-header{
  font-size: 40px;
  text-align: center;
}

.field {
  width: 100%;
  /* display: block; */
  /* flex-direction: column; */
  /* margin: 0 auto; */
  padding-top: 20px;
  font-size: large;
}

.actions{
  width: 10%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 3%;

}


